   body {
        background-color: #fff;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1em;
        margin: 0;
        }

     h1 {
        color: #3281a8;
        font-size: 3em;
        font-family: Georgia, "Times New Roman", Times, serif;
        border-bottom: 8px dotted gold;
        }

     h2 {
        font-size: 1.5em;
        font-weight: italic;
        }

ul.contact-details {
        background-color: #eeeeee; /* Light grey background */
        border: 7px solid blue; /* Purple border */
        padding: 14px; /* Padding to push content away from the border */
        list-style-type: none; /* Optional: removes bullet points */
        }

.job-title {
        color: #999999;
        font-weight: bold;
        }

      a:link,
      a:visited {
        color: #fb6542;
        }

      a:hover {
        text-decoration: none;
        color: green;
        }
